.AddDeveloperPopup {
	width: 100%;
	height: 100%;
	overflow-y: scroll;

	.ImageSection {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		overflow: hidden;
		background-image: url("../../assets/images/FooterBG.webp");
		background-repeat: no-repeat;
		background-size: cover;
        padding: 8rem 0 2rem 0;

		.CardWrapperOuter {
			width: 79.25rem;
			height: 25.375rem;
			flex-shrink: 0;
			position: relative;

			.img1 {
				position: absolute;
				top: 45%;
				left: 0;
				transform: translateX(-50%);
				width: 3.66625rem;
				height: 3.68831rem;
				border-radius: 50%;
				box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
				z-index: 2;
			}

			.img2 {
				position: absolute;
				top: -4.5rem;
				left: 10%;
				width: 3.375rem;
				height: 3.42775rem;
				border-radius: 50%;
				z-index: 2;
				box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
			}

			.img3 {
				position: absolute;
				top: -6.25rem;
				left: 50%;
				width: 6.25rem;
				height: 6.34775rem;
				border-radius: 50%;
				z-index: 2;
				box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
			}

			.img4 {
				position: absolute;
				top: 0;
				right: 0;
				transform: translateX(50%);
				width: 6.25rem;
				height: 6.34775rem;
				border-radius: 50%;
				z-index: 2;
				box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
			}

			.CardWrapper {
				width: 100%;
				height: 100%;
				border-radius: 1.81469rem;
				box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.25);
				padding: 2px;
				z-index: 1;
				position: relative;
				overflow: hidden;

				&::after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 50%;
					height: 100%;
					background: var(--lgL);
					z-index: -1;
				}

				&::before {
					content: "";
					position: absolute;
					bottom: 0;
					right: 0;
					width: 50%;
					height: 100%;
					background: var(--lgR);
					z-index: -1;
				}

				.CardWrapperInner {
					width: 100%;
					height: 100%;
					position: relative;
					background: var(--b4);
					backdrop-filter: blur(150px);
					border-radius: 1.81469rem;
					z-index: 2;
					padding: 4rem 2.8rem 0rem 2.19rem;

					.CardTop {
						width: 100%;
						height: 7.25rem;
						margin-bottom: 2.14rem;
						display: flex;
						align-items: center;
						gap: 2rem;

						.CardTopLeft {
							height: 100%;
							display: flex;
							align-items: center;
							gap: 1.47rem;
							flex: 1;
							flex-shrink: 0;

							img {
								width: 7.25rem;
								height: 100%;
								border-radius: 50%;
								flex-shrink: 0;
							}

							.TopContentSection {
								flex: 1;
								display: flex;
								flex-direction: column;
								gap: 0.32rem;

								.NameSection {
									display: flex;
									align-items: center;
									gap: 2rem;

									h2 {
										color: var(--c2);
										font-size: 1.89131rem;
										font-style: normal;
										font-weight: 500;
										line-height: 4.00119rem;
									}

									p {
										color: var(--c2);
										font-size: 1rem;
										font-style: normal;
										font-weight: 400;
										line-height: 150%;
										display: flex;
										align-items: center;
										gap: 0.375rem;

										svg {
											width: 1.34375rem;
											height: 1.34375rem;
											color: var(--c2);
										}
									}
								}

								.DetailsSection {
									width: 100%;
									display: flex;
									align-items: center;
									gap: 1rem;

									p {
										// min-width: 13.7645rem;
										height: 2.52175rem;
										border-radius: 10.50725rem;
										background: var(--b2);
										display: flex;
										align-items: center;
										justify-content: center;
										gap: 1.05075rem;
										color: var(--c2);
										font-size: 1.26088rem;
										font-style: normal;
										font-weight: 400;
										line-height: 4.00119rem;
                                        padding: 0 1rem;

										svg {
											width: 1.4475rem;
											height: 1.4475rem;
											flex-shrink: 0;
											color: var(--c2);
										}
									}
								}
							}
						}

						.CardTopRight {
							width: 31.6875rem;
							color: var(--c2);
							font-size: 1.125rem;
							font-style: normal;
							font-weight: 300;
							line-height: 1.81469rem;
						}
					}

					.CardBottom {
						width: 100%;
						flex: 1;
						min-height: 2rem;
						display: inline-flex;
						align-items: center;
						column-gap: 1.6875rem;
						row-gap: 0rem;
						padding-left: 9rem;
						color: var(--c2);
						font-size: 1.375rem;
						font-style: normal;
						font-weight: 500;
						line-height: 3.45519rem;
						flex-wrap: wrap;

						p {
							padding: 0.58rem 1.5rem;
							border-radius: 6.25rem;
							background: var(--b2);
							color: rgba(255, 255, 255, 0.7);
							font-size: 1rem;
							font-style: normal;
							font-weight: 400;
							line-height: 1.50144rem;
							letter-spacing: 0.00925rem;
						}
					}
				}
			}
		}
	}

	.WrapperContainer {
		width: 100%;
		background: var(--c4);
		padding: 2rem 3rem 6rem 3rem;
		backdrop-filter: blur(5px);

		h2 {
			color: var(--c2);
			font-size: 2rem;
			margin-bottom: 2rem;
		}

		.ImageWrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 2rem;
			margin-bottom: 1.5rem;

			.Image {
				width: 5rem;
				height: 5rem;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				position: relative;

				input {
					display: none;
				}

				img {
					width: 100%;
					height: 100%;
					border-radius: 50%;
				}

				button {
					position: absolute;
					bottom: 0;
					left: 52%;
					width: 1.5rem;
					height: 1.5rem;
					border-radius: 50%;
					cursor: pointer;
					background: var(--c1);
					border: none;
					display: flex;
					align-items: center;
					justify-content: center;
					transition: all 0.3s ease-in-out;

					&:hover {
						scale: 1.2;
					}

					svg {
						width: 60%;
						height: 60%;
						color: var(--c2);
					}
				}
			}
		}

		.Row {
			display: flex;
			align-items: center;
			gap: 1rem;
		}

		.InputWrapper {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 0.2rem;
			margin-bottom: 1.5rem;

			& > div {
				background: transparent !important;
				border: none;
				padding: 0;
				outline: none;

				&:focus-within {
					outline: 1px solid transparent;
				}
			}

			label {
				color: var(--c2);
				font-size: 1rem;
			}

			input {
				width: 100%;
				background: transparent;
				border: none;
				border-bottom: 2px solid var(--c2);
				font-size: 1.2rem;
				outline: none;
				color: var(--c2);
				transition: all 0.3s ease-in-out;

				&:focus {
					border-bottom: 2px solid var(--c1);
				}
			}

			em {
				color: var(--c1);
			}

			textarea {
				height: 8rem;
				resize: none;
				background: transparent;
				border: none;
				border-bottom: 2px solid var(--c2);
				font-size: 1.2rem;
				outline: none;
				color: var(--c2);

				transition: all 0.3s ease-in-out;

				&:focus {
					border-bottom: 2px solid var(--c1);
				}
			}
		}

		.Submit {
			width: 100%;
			height: 3.5rem;
			background: var(--c1);
			transition: all 0.3s ease-in-out;
			color: var(--c2);
			border: none;
			cursor: pointer;
			font-size: 1.5rem;
			border-radius: 0.5rem;

			&:hover {
				// background: var(--c1v2);
				color: var(--c2);
				scale: 1.03;
			}
		}
	}
}
